.about__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
}
.about__img{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.about__info{
    grid-template-columns: repeat(3,140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}
.about__box{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
}
.about__icon{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}
.about__title{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
.about__subtitle{
    font-size: var(--tiny-font-size);
}
.experience::after {
    content: "8 month internship"; /* Ensures there's initial content after the span */
}
.about__description{
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

/* For large devices */
@media screen and (max-width: 992px) {
    .about__container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
    .about__img{
        width: 220px;
    }
    .about__box{
        padding: 0.75rem 0.5rem;
    }
    .about__data{
        text-align: center;
    }
    .about__info{
        justify-content: center;
    }
    .about__description{
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
  }
  

  @media screen and (max-width: 576px) {
    .about__info{
        grid-template-columns: repeat(3,1fr);

    }
    .experience::after{
        content: "8 month intern";
    }
    .about__description{
        padding: 0;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .about__info{
        grid-template-columns: repeat(2,1fr);
    }
  
  }