.work__filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}
.work__item{
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.work__item:hover{
    background-color: var(--title-color);
    color: var(--container-color);
}
.work__container{
    grid-template-columns: repeat(2,max-content);
    gap: 3rem;
    justify-content: center;
}
.work__card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.work__img{
    width: 295px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.work__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
    text-align: center;
    padding-bottom: 0.5vw;
}
.container_link{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.work__button{
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.work__button-icon{
    font-size: 1rem;
    transition: 0.4s;
    margin-right: 5px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.work__button:hover .work__button-icon{
    transform: translateX(0.25rem);
    -webkit-transform: translateX(0.25rem);
    -moz-transform: translateX(0.25rem);
    -ms-transform: translateX(0.25rem);
    -o-transform: translateX(0.25rem);
}

/* active work */
.active-work{
    background-color: var(--title-color);
    color: var(--container-color);
}

/* media query */
@media screen and (max-width: 992px) {
  .work__container{
    gap: 1.25rem;
  }
  .work__card{
    padding: 1rem;
  }
  .work__img{
    margin-bottom: 0.75rem;
  }
  .work__title{
    margin-bottom: 0.25rem;
    padding-bottom: 2vw;
  }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .work__container{
        grid-template-columns: max-content;
    }
   
  }
  
  @media screen and (max-width: 576px) {
    .work__container{
        grid-template-columns: 1fr;
    }
    .work__img{
        width: 100%;
    }
    .work__filters{
        column-gap: 0.19rem;
        font-size: 0.9rem;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .work__item{
        font-size: var(--small-font-size);
    }
    .work__filters{
        column-gap: 0.25rem;
        
    }
  }